.App {
  text-align: center;
  font-family: "Arial";
  background-color: #474B4F;
}

.body{
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Dashboard-Container {
  border-style: solid;
  border-color: #6b6e70;
  border-radius: 2%;
  height: 45vh;
  width: 45vw;
  background-color: #222629;
  color: #86c232;
  font-family: Cochin;
  line-height: 1.1;
  box-shadow: 5px 5px;
}

.delete-past-trip{
  border-style: solid;
  color: red;
  border-radius: 45%;
  border-width: 1px;
  border-color: gray;
  height: 15px;
  width: 20px;
}

.delete-past-trip:hover{
  cursor: pointer;
}

.navbar{
  background-color: #252024;
  color: #86c232;
  text-align: right;
  padding-right: 10vh;
}

.Homepage {
  padding: 1%;
  margin: 0%;
  /* background-color: #474b4f; */
  background-image: url('https://miro.medium.com/max/4000/0*5pQvYqNzgfYxrYVP.jpg');
  /* background-image: linear-gradient(rgb(37,32,36), rgba(255, 255, 255, 0));  */
  display: grid;
  grid-column-gap: 1px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
  position: relative;
}

.credential-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #474b4f;
  margin: 0%;
  background-image: url('https://miro.medium.com/max/4000/0*5pQvYqNzgfYxrYVP.jpg');
}

.login-form {
  margin: 1%;
  padding: 1%;
  border-style: solid;
  border-color: #6b6e70;
  border-radius: 2%;
  background-color: #222629;
  color: #86c232;
  height: 35vh;
  width: 45vw;
  text-align: center;
  box-shadow: 5px 5px;
}

input:focus {
  background-color: #86c232;
  color: #222629;
  zoom: 101%;
}

.form-prof {
  height: 5%;
  width: 5%;
}

.signup-form{
  margin: 1%;
  padding: 1%;
  height: 55vh;
  width: 45vw;
  border-style: solid;
  border-color: #6b6e70;
  border-width: 2px;
  border-radius: 2%;
  background-color: #222629;
  color: #86c232;
  text-align: center;
  box-shadow: 5px 5px;
}

.Add-Trip-Div{
  border-style: solid;
  border-color: #6b6e70;
  border-width: 2px;
  border-radius: 2%;
  color: #86c232;
  text-align: left;
  box-shadow: 5px 5px;
  height: 45vh;
  width: 45vw;
  font-family: Cochin;
  background-color: #222629;

}

.Add-Trip-Form{
  margin: 1%;
}

.pe-form-and-trip-rates{
  display: flex;
  flex-direction: column;
}

.flag-pic{
  height: 20vh;
  width: 35vh;
  border-style: hidden;
}

.trip-show-container{
  background-image: url('https://miro.medium.com/max/4000/0*5pQvYqNzgfYxrYVP.jpg');
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.trip-show{
  height: 100vh;
  width: 60vw;
  border-style: solid;
  border-color: #86c232;
  border-radius: 2%;
  color: white;
  background-color: #6b6e70;
  box-shadow: 5px 5px;
  font-family: Cochin;
  line-height: 0.9;
}

.planned-expense-form{
  color: #86c232;
  width: 35vw;
}

.unauthorized{
  color: red; 
} 

.trip{
  border-style: ridge;
  border-color: 85bb65;
  width: 75%;
}

.trip:hover{
  color: #86c232;
  cursor: pointer;
  border-style: solid;
}

.delete-button{
  color: red;
  border-color: gray;
  border-radius: 50%;
}

.delete-button:hover{
  cursor: pointer;
}

.link{
  color: #6b6e70;
  border-radius: 5%;
}

.link:hover{
  color: #85bb65;
  border-style: solid;
}

.title-div{
  text-align: center;
  position: relative;
}

.title{
  font-family: impact;
  color: #86c232;
  position: absolute;
  top: 50%;
  margin: auto;
  font-size: 80px;
  border-style: solid;
  border-radius: 5%;
  border-color: #474b4f;
  background-color: #222629;
  box-shadow: 5px 5px;
}

.all-countries-li{
  margin: 5px;
  font-family: 'Times New Roman'
}

/* i tag and .right/.left for the prev/next buttons */

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.all-destinations-list{
  background-color: #252024;
  color: #86c232
}

.all-dest{
  background-color: #252024;
}

body{
  background-color: #252024
}