.App {
  text-align: center;
  font-family: "Arial";
  background-color: #474B4F;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Dashboard-Container {
  border-style: solid;
  border-color: #61892f;
  border-radius: 5%;
  height: 45vh;
  width: 45vw;
  background-color: #222629;
  color: #86c232;
  font-family: Cochin;
  line-height: 1.1;
}

.navbar{
  background-color: #252024;
  color: #86c232;
  text-align: right;
  padding-right: 10vh;
}

.Homepage {
  padding: 1%;
  margin: 0%;
  background-color: #252024;
  display: grid;
  grid-column-gap: 1px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
  position: relative;
}

.credential-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #474b4f;
  margin: 0%;
  background-image: url('https://miro.medium.com/max/4000/0*5pQvYqNzgfYxrYVP.jpg');
}

.login-form {
  margin: 1%;
  padding: 1%;
  border-style: solid;
  border-color: #6b6e70;
  border-radius: 2%;
  background-color: #222629;
  color: #86c232;
  height: 35vh;
  width: 45vw;
  text-align: center;
  box-shadow: 5px 5px;
}

input:focus {
  background-color: #86c232;
  color: #222629;
  zoom: 101%;
}

.form-prof {
  height: 5%;
  width: 5%;
}

.signup-form{
  margin: 1%;
  padding: 1%;
  height: 55vh;
  width: 45vw;
  border-style: solid;
  border-color: #6b6e70;
  border-width: 2px;
  border-radius: 2%;
  background-color: #222629;
  color: #86c232;
  text-align: center;
  box-shadow: 5px 5px;
}

.flag-pic{
  height: 20vh;
  width: 35vh;
  border-style: hidden;
}

.trip-show{
  border-style: solid;
  border-color: #85bb65;
  border-radius: 5%;
  width: 75vw;
}

.unauthorized{
  color: red; 
} 

.trip{
  border-style: ridge;
  border-color: 85bb65;
  width: 75%;
}

.trip:hover{
  color: green;
  cursor: pointer;
  border-style: solid;
}

.delete-button{
  color: red;
  border-color: gray;
  border-radius: 50%;
}

.delete-button:hover{
  cursor: pointer;
}

.link{
  color: #6b6e70;
  border-radius: 5%;
}

.link:hover{
  color: #85bb65;
  border-style: solid;
}

.title{
  color: #86c232;
  padding: 1%;
  margin: 0%;
  font-weight: bold;
  font-family: monospace;
}

.all-countries-li{
  margin: 5px;
  font-family: 'Times New Roman'
}