body{
  font-family: "Ubuntu", sans-serif;
  background-color: #282c34;
}

html, body {margin:0;padding:0;height:100%;}

.App {
  text-align: center;
  background-color: #474B4F;
  height: 100%;
}

.route-components{
  height: 97vh;
}

.navbar{
  background-color: black;
  color: #86c232;
  text-align: right;
  padding-right: 10vh;
  height: 3vh;
  min-height: 30px;
  padding: 3px;
  padding-right: 40px;
}
/* content from title/credential page 
==================================================================================================
*/

.credential-page {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-image: url(./images/MountainBackground.jpg);
  overflow: auto;
}

.title{
  font-family: 'Racing Sans One', cursive;
  color: #cc3a00;
  font-size: 100px;
  margin:2%;
}

.login-form-div {
  border-style: solid;
  border-color: #27333f;
  border-radius: 2%;
  background: linear-gradient(rgba(112, 100, 92, 1), rgba(92, 100, 112,1) );
  text-align: center;
  box-shadow: 5px 5px;
  color: white;
  width: 35%;
  margin: 2%;
}

.login-form{
  padding-bottom: 2%;
}

h1.login-form{
  color: green;
}

.signup-form-div{
  border-style: solid;
  border-color: #27333f;
  border-width: 2px;
  border-radius: 2%;
  background: linear-gradient(rgba(112, 100, 92, 1), rgba(92, 100, 112,1) );
  color: white;
  text-align: center;
  box-shadow: 5px 5px;
  width: 35%;
}

.signup-form{
}
/* 
End title/credential page elements
================================================================================================ */




.pe-form-and-trip-rates{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.display-buttons-container{
  /* border-color: #86c232; */
  /* border-style: solid; */
  /* border-radius: 2%; */
  margin-top: 2%;
  margin-bottom: 2%;
  /* color: white; */
  /* background-color: #222629; */
  display: flex;
  justify-content: space-evenly;
}

.display-buttons{
  background-color: #222629;
  border-style: solid;
  border-radius: 2%;
  color: white;
  border-color: white;
}

.display-buttons:hover{
  cursor: pointer;
  border-color: #86c232;
}

.flag-pic{
  height: 20vh;
  width: 35vh;
  border-style: hidden;
}

.trip-show-container{
  background-image: url('https://miro.medium.com/max/4000/0*5pQvYqNzgfYxrYVP.jpg');
  display: flex;
  justify-content: space-around;
}

.trip-show{
  height: 95vh;
  width: 55vw;
  border-style: solid;
  border-color: #86c232;
  border-radius: 2%;
  color: white;
  background-color: #222629;
  box-shadow: 5px 5px;
  line-height: 0.9;
}

.planned-expense-div{
  color: white;
  width: 38vw;
  border-style: solid;
  border-radius: 2%;
  background-color: #222629;
  box-shadow: 5px 5px;
  border-color: #86c232;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 20%;
}

.planned-expense-form{
  text-align: center;
}

.pe-h2{
  margin: 1%;
}

.historical-rates{
  border-style: solid;
  border-color: #86c232;
  color: white;
  border-radius: 2%;
  width: 38vw;
  background-color: #222629;
  box-shadow: 5px 5px;
  flex-grow: 1;
}

.pie-chart{
  border-style: solid;
  border-radius: 2%;
  border-color: #86c232;
  box-shadow: 5px 5px;
  color: white;
}

.empty{
  border-style: solid;
  border-radius: 2%;
  text-align: center;
  background-color: #222629;
}

.canvas-chart-container{
  border-style: solid;
  border-radius: 2%;
  border-color: #86c232;
  box-shadow: 5px 5px;
  color: white;
}

.historical-chart-container{
  border-style: solid;
  border-color: #86c232;
  color: white;
  border-radius: 2%;
  width: 38vw;
  height: 60vh;
  background-color: white;
  box-shadow: 5px 5px;
  text-align: center;
  flex-grow: 1;
}

.chart{
  margin-left: 2%;
  border-style: solid;
  border-color: black;
}

.chart-y-label{
  display: flex;
}

.y-axis{
  writing-mode: vertical-lr;
  color: #222629;
  unicode-bidi:bidi-override;
  direction:rtl;
}

.chart-title{
  color: #222629;
  
}

.hr-info{
  margin-left: 5%;
}

.unauthorized{
  color: red;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 99vh;
} 

.link{
  color: #6b6e70;
  border-radius: 5%;
}

.link:hover{
  color: #86c232;
}

.unauthorized-link{
  color: red;
  border-radius: 5%;
}

.unauthorized-link:hover{
  color: #86c232;
  border-style: solid;
}

.all-countries-li-gray{
  margin: 5px;
  font-family: 'Times New Roman';
  color: #6b6e70;
}

.all-countries-li-green{
  margin: 5px;
  font-family: 'Times New Roman';
  color: #86c232;
}

.all-destinations-list{
  background-color: #252024;
  color: #86c232;
  margin-left: 2%;
}

.all-dest{
  background-color: #252024;
}

body{
  background-color: #252024
}
