/* Dashboard Components 
================================================================================================ */
.homepage {
    padding: 1%;
    margin: 0%;
    background-image: url('https://miro.medium.com/max/4000/0*5pQvYqNzgfYxrYVP.jpg');
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    position: relative;
    /* overflow: auto; */
}

.dashboard-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  border: 1px solid green;
  overflow: auto;
}
  
.dashboard-container {
  border-style: solid;
  border-color: #6b6e70;
  border-radius: 2%;
  background-color: #222629;
  color: #86c232;
  line-height: 1.1;
  box-shadow: 5px 5px;
  margin-bottom: 3%;
  width: 90%;
}

.sub-dash-container-div{
  margin-left: 5%;
  position: relative;
}  

#popular-destinations{
  height: 57%;
  min-height: 470px;
  overflow: auto;

}

#add-trip{
  border-style: solid;
  border-color: #6b6e70;
  border-radius: 2%;
  color: #86c232;
  text-align: left;
  box-shadow: 5px 5px;
  height: 33%;
  background-color: #222629;
  display: flex;
  flex-direction: column;
}
  
.add-trip-form{
  margin-left: 5%;
}
  
.form-break{
  height: 2vh;
}
   
#past-trips{

}

#upcoming-trips{
  min-height: 350px;
}



.delete-past-trip{
  border-style: solid;
  color: red;
  border-radius: 40%;
  border-width: 1px;
  border-color: red;
}

.delete-past-trip:hover{
  cursor: pointer;
} 