/* Dashboard Components 
================================================================================================ */
.homepage {
    padding: 1%;
    margin: 0%;
    background-image: url(./images/mountainWallBackground.jpg);
    background-size: cover;
    display: flex;
    height: 100vh;
    min-height: 750px;
    justify-content: space-evenly;
    position: relative;
    color: #cc3a00;
}

.dashboard-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}
  
.dashboard-container {
  border-style: solid;
  border-color: #6b6e70;
  border-radius: 2%;
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(255, 255, 255,.8) );
  line-height: 1.1;
  box-shadow: 5px 5px;
  margin-bottom: 3%;
  width: 90%;
}

.sub-dash-container-div{
  margin-left: 5%;
  position: relative;
}  

#popular-destinations{
  height: 57%;
  min-height: 460px;
  overflow: auto;
}

#add-trip{
  height: 30%;
  min-height: 240px;
  overflow: auto;
}
  
.add-trip-form{
  margin-left: 5%;
}
  
.form-break{
  height: 2vh;
}
   
#past-trips{
  min-height: 350px;
  padding-bottom: 5px;
  overflow: auto;
}

#upcoming-trips{
  min-height: 350px;
  padding-bottom: 5x;
}

.trip{
  border-style: ridge;
  border-color: #a87464;
  width: 80%;
  padding: 3px;
  padding-left: 10px;
  margin: 1px;
}

.trip:hover{
  color: white;
  cursor: pointer;
  border-color: #15485f;
}

.arrow:hover{
  cursor: pointer;
  color: #15485f;
}