/* Content for Trip Show Page 
========================================================================================== */

.trip-show-container{
    background-image: url('./images/forestMountainBackground.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 890px;
    min-width: 1440px;
}
.pe-form-and-trip-rates{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    width: 40%;
    height: 95%;
    min-height: 845px;
    min-width: 545px;
}

.trip-show{
    margin: 10px;
    height: 95%;
    min-height: 845px;
    width: 55%;
    min-width: 750px;
    /* border-style: solid;
    border-color: #86c232; */
    border-radius: 2%;
    color: white;
    background-color: rgba(34, 38, 41, .7);
    box-shadow: 5px 5px;
    line-height: 0.9;
    text-indent: 20px;
    line-height: 1.1;
}

#pe-list-container{
    height: 20%;
    overflow: auto;
    background-color: gray; /*may update this once decided upon other coloring */
}

.unauthorized{
    color: red;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 99vh;
} 

.flag-pic{
    height: 150px;
    width: 250px;;
    border-style: hidden;
    padding-left: 20px;
}


.planned-expense-div{
    color: white;
    width: 100%;
    border-radius: 2%;
    background-color: rgba(34, 38, 41, .7);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 20%;
    min-height: 185px;
    overflow: auto;
}

.delete-button{
    color: #cc3a00;
}

.delete-button:hover{
    cursor: pointer;
}

.planned-expense-form{
    text-align: center;
    line-height: 1.5;
}

.pe-h2{
    font-family: 'Racing Sans One';
    margin: 1%;
}

.display-buttons-container{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-evenly;
}

.display-buttons{
    border-style: solid;
    border-radius: 2%;
    color: black;
    border-color: black;
    font-family: 'Racing Sans One';
    padding: 5px;
}
  
.display-buttons:hover{
    cursor: pointer;
    color: #cc3a00;
    border-color: #cc3a00;
}
  
.chart{
    margin-left: 2%;
    border-style: solid;
    border-color: black;
}

.chart-y-label{
    display: flex;
}
  
.y-axis{
    writing-mode: vertical-lr;
    color: #222629;
    unicode-bidi:bidi-override;
    direction:rtl;
}

.chart-title{
    color: #222629;
}
  
.hr-info{
    margin-left: 5%;
}

.historical-rates{
    color: white;
    border-radius: 2%;
    width: 100%;
    background-color: rgba(34, 38, 41, .7);
    box-shadow: 5px 5px;
    overflow: auto;
}

.pie-chart{
    border-style: solid;
    border-radius: 2%;
    border-color: #86c232;
    box-shadow: 5px 5px;
    color: white;
}

.empty{
    border-style: solid;
    border-radius: 2%;
    text-align: center;
    background-color: #222629;
}

.canvas-chart-container{
    border-style: solid;
    border-radius: 2%;
    border-color: #86c232;
    box-shadow: 5px 5px;
    color: white;
}

.unauthorized-link{
    color: red;
    border-radius: 5%;
}
  
.unauthorized-link:hover{
    color: #86c232;
    border-style: solid;
}